In [5]:
import numpy as np
import pandas as pd

car_data = pd.read_csv('Peugeot207.csv')

In [6]:
car_data

    code    brand  km  model  year   color    gearbox    option  price
0      0  Peugeot   0    207  1399    Grey     Manual   Typical    310
1      1  Peugeot   0    207  1400   White     Manual   Typical    320
2      2  Peugeot   0    207  1400   Black     Manual   Typical    340
3      3  Peugeot   0    207  1400   White     Manual   Typical    325
4      4  Peugeot   0    207  1400   White     Manual   Typical    320
5      5  Peugeot   0    207  1398   Black  Automatic   Typical    378
6      6  Peugeot   0    207  1400  Silver  Automatic  Panaroma    420
7      7  Peugeot   0    207  1399    Grey  Automatic  Panaroma    430
8      8  Peugeot   0    207  1399   White     Manual  Panaroma    400
9      9  Peugeot   0    207  1400   White  Automatic  Panaroma    425
10    10  Peugeot   0    207  1400   Black  Automatic  Panaroma    425
11    11  Peugeot   0    207  1400    Grey  Automatic   Typical    408
12    12  Peugeot   0    207  1400   Black  Automatic  Panaroma    422
13    13  Peugeot   0    207  1399    Grey     Manual  Panaroma    330
14    14  Peugeot   0    207  1399   White     Manual   Typical    313

In [8]:
df = pd.DataFrame(car_data)

In [9]:
df

    code    brand  km  model  year   color    gearbox    option  price
0      0  Peugeot   0    207  1399    Grey     Manual   Typical    310
1      1  Peugeot   0    207  1400   White     Manual   Typical    320
2      2  Peugeot   0    207  1400   Black     Manual   Typical    340
3      3  Peugeot   0    207  1400   White     Manual   Typical    325
4      4  Peugeot   0    207  1400   White     Manual   Typical    320
5      5  Peugeot   0    207  1398   Black  Automatic   Typical    378
6      6  Peugeot   0    207  1400  Silver  Automatic  Panaroma    420
7      7  Peugeot   0    207  1399    Grey  Automatic  Panaroma    430
8      8  Peugeot   0    207  1399   White     Manual  Panaroma    400
9      9  Peugeot   0    207  1400   White  Automatic  Panaroma    425
10    10  Peugeot   0    207  1400   Black  Automatic  Panaroma    425
11    11  Peugeot   0    207  1400    Grey  Automatic   Typical    408
12    12  Peugeot   0    207  1400   Black  Automatic  Panaroma    422
13    13  Peugeot   0    207  1399    Grey     Manual  Panaroma    330
14    14  Peugeot   0    207  1399   White     Manual   Typical    313

In [10]:
df.head(5)

   code    brand  km  model  year  color gearbox   option  price
0     0  Peugeot   0    207  1399   Grey  Manual  Typical    310
1     1  Peugeot   0    207  1400  White  Manual  Typical    320
2     2  Peugeot   0    207  1400  Black  Manual  Typical    340
3     3  Peugeot   0    207  1400  White  Manual  Typical    325
4     4  Peugeot   0    207  1400  White  Manual  Typical    320

In [11]:
# Check Null Values

df.isnull()

     code  brand     km  model   year  color  gearbox  option  price
0   False  False  False  False  False  False    False   False  False
1   False  False  False  False  False  False    False   False  False
2   False  False  False  False  False  False    False   False  False
3   False  False  False  False  False  False    False   False  False
4   False  False  False  False  False  False    False   False  False
5   False  False  False  False  False  False    False   False  False
6   False  False  False  False  False  False    False   False  False
7   False  False  False  False  False  False    False   False  False
8   False  False  False  False  False  False    False   False  False
9   False  False  False  False  False  False    False   False  False
10  False  False  False  False  False  False    False   False  False
11  False  False  False  False  False  False    False   False  False
12  False  False  False  False  False  False    False   False  False
13  False  False  False  False  False  False    False   False  False
14  False  False  False  False  False  False    False   False  False

In [15]:
# Use unique Function

df.nunique()

code       15
brand       1
km          1
model       1
year        3
color       4
gearbox     2
option      2
price      13
dtype: int64

In [13]:
# print last 5 data set values

df.tail()

    code    brand  km  model  year  color    gearbox    option  price
10    10  Peugeot   0    207  1400  Black  Automatic  Panaroma    425
11    11  Peugeot   0    207  1400   Grey  Automatic   Typical    408
12    12  Peugeot   0    207  1400  Black  Automatic  Panaroma    422
13    13  Peugeot   0    207  1399   Grey     Manual  Panaroma    330
14    14  Peugeot   0    207  1399  White     Manual   Typical    313

In [22]:
# handle Categorical values if needed
data_num = df[['code','km','model','year','price']]
data_nonNum = df[['brand','color','gearbox','option']]

# Creating Dummy
dummy = pd.get_dummies(data_nonNum ,columns=['brand','color','gearbox','option'])
dummy

# Concat
CarNewData = pd.concat([data_num.iloc[:,1:],dummy],axis=1)
CarNewData

,km,model,year,price,brand_Peugeot,color_Black,color_Grey,color_Silver,color_White,gearbox_Automatic,gearbox_Manual,option_Panaroma,option_Typical
0,0,207,1399,310,1,0,1,0,0,0,1,0,1
1,0,207,1400,320,1,0,0,0,1,0,1,0,1
2,0,207,1400,340,1,1,0,0,0,0,1,0,1
3,0,207,1400,325,1,0,0,0,1,0,1,0,1
4,0,207,1400,320,1,0,0,0,1,0,1,0,1
5,0,207,1398,378,1,1,0,0,0,1,0,0,1
6,0,207,1400,420,1,0,0,1,0,1,0,1,0
7,0,207,1399,430,1,0,1,0,0,1,0,1,0
8,0,207,1399,400,1,0,0,0,1,0,1,1,0
9,0,207,1400,425,1,0,0,0,1,1,0,1,0
10,0,207,1400,425,1,1,0,0,0,1,0,1,0
11,0,207,1400,408,1,0,1,0,0,1,0,0,1
12,0,207,1400,422,1,1,0,0,0,1,0,1,0
13,0,207,1399,330,1,0,1,0,0,0,1,1,0
14,0,207,1399,313,1,0,0,0,1,0,1,0,1

In [55]:
# train and test you data by using standard train_test_split()

from sklearn.model_selection import train_test_split
# independent


xn = [dummy.gearbox_Automatic]
xn


xxn = [dummy.gearbox_Manual]
type(xxn)

x = np.array(xn)
type(x)
# Dependent
yn = [df.price]
type(yn)

y = np.array(yn)
type(y)


x = final.drop(['Price'],axis=1)

x
y

array([[310, 320, 340, 325, 320, 378, 420, 430, 400, 425, 425, 408, 422,
        330, 313]], dtype=int64)

In [51]:

y

array([[310, 320, 340, 325, 320, 378, 420, 430, 400, 425, 425, 408, 422,
        330, 313]], dtype=int64)

In [52]:
x

array([[0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0]], dtype=uint8)

In [53]:
x

array([[0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0]], dtype=uint8)

In [54]:
dummy

,brand_Peugeot,color_Black,color_Grey,color_Silver,color_White,gearbox_Automatic,gearbox_Manual,option_Panaroma,option_Typical
0,1,0,1,0,0,0,1,0,1
1,1,0,0,0,1,0,1,0,1
2,1,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,1,0,1
4,1,0,0,0,1,0,1,0,1
5,1,1,0,0,0,1,0,0,1
6,1,0,0,1,0,1,0,1,0
7,1,0,1,0,0,1,0,1,0
8,1,0,0,0,1,0,1,1,0
9,1,0,0,0,1,1,0,1,0
10,1,1,0,0,0,1,0,1,0
11,1,0,1,0,0,1,0,0,1
12,1,1,0,0,0,1,0,1,0
13,1,0,1,0,0,0,1,1,0
14,1,0,0,0,1,0,1,0,1

In [57]:
# Classification Algorithm for predicton
from sklearn.linear_model import LinearRegression

LinReg  = LinearRegression()
LinReg.fit(x,y)

y_pred= LinReg.predict(x)
y_pred

array([[310., 320., 340., 325., 320., 378., 420., 430., 400., 425., 425.,
        408., 422., 330., 313.]])

# End of Quiz 2 Thanks